<%- include("partials/header") %>
<h1>Manage your webhooks!</h1> 
<button><a href="/webhooks/register">Register</a></button>
<button><a href="/webhooks">List</a></button>
<button><a href="/webhooks/update">Update</a></button>
<button><a href="/webhooks/delete">Delete</a></button>
<button><a href="/ip">Trigger</a></button>
<%- include("partials/footer") %>