<%- include("partials/header") %>
<form action="/webhooks" method="POST">
    <input type="text" name="url" placeholder="Enter target URL">
    <!-- <input type="text" name="a" placeholder="Enter a number"> -->
    <!-- <input type="number" name="b" placeholder="Enter another number"> -->
    <input type="submit">
</form>
<%- include("partials/footer") %>